.detail-card {
  background-image: radial-gradient(
    circle,
    rgba(184, 142, 184, 0.6),
    rgba(35, 229, 132, 0.6)
  );
  border-radius: 10px;
}

.imdb {
  width: 40px;
  margin-top: 0px;
}

.hr-style {
  border-width: 2px;
  border-style: solid;
  width: 50%;
  margin-left: 20%;
  color: #198754;
}
